name: Create new version
on:
  pull_request:
    types: [closed]

jobs:
  release:
    runs-on: ubuntu-latest
    name: Create a new release

    steps:
      - uses: actions/checkout@v3

      - id: release
        uses: poltio/action-release@v0
        with:
          alias: "v"
          token: ${{ secrets.GH_TOKEN }}
