name: Create new version
on:
  #pull_request:
  #  types: [closed]
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    name: Create a new release

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - id: release
        uses: poltio/action-release@v0.0.7
        with:
          alias: "v"
          token: ${{ secrets.GH_TOKEN }}
